{% load static %}

<html lang="ja">

  <head>
    <meta charset="utf-8">
    <!-- viewportの設定　デバイスのwidthと同じ大きさ(initial-scale=1)で表示する -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 検索したときのtitleの下のdescrition　ここは誰か設定して -->
    <meta name="description" content="">

    <title>{% block title %}{% endblock %}</title>
    
    <!-- css base.html用 -->
    <link rel="stylesheet" type="text/css" href="{% static 'kyodou_kaihatsu_A/css/base.css' %}">
  
    {% block head %}{% endblock %}
  </head>

  <body>

    {% block contents %}{% endblock %}
    
    <a href="{% url 'DeMatch:home' %}">home</a>
    <a href="{% url 'DeMatch:account_search' %}">search</a>
    <a href="{% url 'DeMatch:user_talk_list' %}">UserTalk</a>
    <a href="{% url 'DeMatch:group_talk_list' %}">GroupTalk</a>
    <a href="{% url 'DeMatch:recommended' %}">recommend</a>

  </body>


</html>