<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/chatroom.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/chatroom.css"> -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="back__button">
            <a href="{% url 'DeMatch:user_talk_list' %}">
                <i class="fas fa-angle-left"></i>
            </a>
        </div>
        <div class="friend_name">
            {{ friendname }}
        </div>
        <div class="detail__button">
            <a href="{% url 'DeMatch:friend_detail' room_name %}">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </div>

    <div id="box">
        {% for log in log %}
        {% if log.talk_from.username == username %}
        <div class="log_user">
            <p class="log_username">{{ log.talk_from.username }}</p>
            <p class="msg">{{ log.text }}</p>
        </div>
        {% else %}
        <div class="log_friend">
            <p class="log_username">{{ log.talk_from.username }}</p>
            <p class="msg">{{ log.text }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <input id="chat-message-input" type="text" size="100">
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/DeMatch/User/'
            + roomName
            + '/'
        );

        // メッセージを受け取ったときに非同期で画面に表示する操作
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var newElement1 = document.createElement("p");
            var newContent1 = document.createTextNode(data.username);
            newElement1.appendChild(newContent1);
            newElement1.setAttribute("id", "friend_name");
            var newElement2 = document.createElement("p");
            var newContent2 = document.createTextNode(data.message);
            newElement2.appendChild(newContent2);
            newElement2.setAttribute("id", "msg");
            var parentDiv = document.getElementById("box");
            parentDiv.appendChild(newElement1);
            parentDiv.appendChild(newElement2);
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>

</html>