{% extends 'DeMatch/base.html' %}
{% load static %}

{% block contents %}

<div>
    <!-- 戻るボタン（一個前の画面）だったらこうする必要あり -->
    <!-- <button onclick="history.back()">戻る</button> -->
    <a href="{% url 'DeMatch:home' %}">戻る</a>
    グループ詳細
</div>

<div>
    {% if group.image %}
    <img src="{{ group.image.url }}" width="100%">
    {% endif %}
    {{ group.name }}
</div>

<div>
    {% if condition == 0 %}
    <a href="{% url 'DeMatch:group_room' group.id %}">メッセージ</a>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" name="button_5" value="ユーザーを招待">
    </form>
    {% endif %}
</div>
<div>
    {{ group.introduction }}
</div>
<div>
    {% for hobby in group.hobby.all %}
    {{ hobby.name }}
    {% endfor %}
</div>
<div>
    {% for subject in group.subject.all %}
    {{ subject.name }}
    {% endfor %}
</div>


<div>
    メンバー :
    <div>
        {% for member in group.member_list.all %}
        {{ member.username }}
        {% endfor %}
    </div>
</div>


<div>
    {% if group.applying.all %}
    参加申請中のユーザー :
    {% for applying in group.applying.all %}
    <div>
        <a href="{% url 'DeMatch:friend_detail' applying.pk %}">
            {{ applying.username }}
        </a>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div>
    {% if group.inviting.all %}
    招待中 :
    {% for inviting in group.inviting.all %}
    <div>
        {{ inviting.username }}
    </div>
    {% endfor %}
    {% endif %}
</div>
<!-- 申請前、申請中、招待中、参加後の表示の変化はhtml内で記述 -->
{% if condition == 0 %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="button_0" value="編集">
</form>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="button_6" value="退会する">
</form>
{% endif %}



{% if condition == 1 %}


<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="button_1" value="参加する">
</form>
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="button_2" value="参加しない">
</form>
{% endif %}

{% if condition == 2 %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="button_3" value="申請キャンセル">
</form>
{% endif %}

{% if condition == 3 %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="button_4" value="参加申請">
</form>
{% endif %}




{% endblock %}