<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>
    <div>
        <a href="{% url 'DeMatch:group_talk_list' %}">戻る</a>
        {{ groupname }}
        <a href="{% url 'DeMatch:group_detail' room_name %}">グループ詳細</a>
    </div>
    <div id="box">
        {% for log in log %}
        {% if log.talk_from.username == username %}
        <div class="log_user">
            <p class="log_username">{{ log.talk_from.username }}</p>
            <p class="msg">{{ log.text|urlize }}</p>
        </div>
        {% else %}
        <div class="log_friend">
            <p class="log_username">{{ log.talk_from.username }}</p>
            <p class="msg">{{ log.text|urlize }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if join_url %}
    <input id="chat-message-input" type="text" size="100" value="{{ join_url }}">
    {% else %}
    <input id="chat-message-input" type="text" size="100">
    {% endif %}
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    
    <a href="{{ auth_href }}">zoomを開始する</a>


    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/DeMatch/Group/'
            + roomName
            + '/'
        );

        // メッセージを受け取ったときに非同期で画面に表示する操作
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var newElement1 = document.createElement("p");
            var newContent1 = document.createTextNode(data.username);
            newElement1.appendChild(newContent1);
            newElement1.setAttribute("id", "friend_name");
            var newElement2 = document.createElement("p");
            var newContent2 = document.createTextNode(data.message);
            newElement2.appendChild(newContent2);
            newElement2.setAttribute("id", "msg");
            var parentDiv = document.getElementById("box");
            parentDiv.appendChild(newElement1);
            parentDiv.appendChild(newElement2);
            const display = document.getElementById('box')
            const regex = new RegExp(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig)
            if (newElement2.textContent.match(regex)) {
                console.log(newElement2.textContent.replace(regex, '<a href="$1">$1</a>'))
                 newElement2.innerHTML = newElement2.textContent.replace(regex, '<a href="$1">$1</a>')
            }
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>

</html>