{% extends 'DeMatch/base.html' %}

{% block header-title %}友達{% endblock %}
 
{% block contents %}
<div class="friends">
   <!-- 友達のリスト表示部分 -->
   <ul class="friends__list-wrap">
       {% for friend in friends %}
       <li class="friends__list">
           <!-- それぞれが別のトーク画面に飛ぶようにリンクをはる -->
           <a href="{% url 'DeMatch:room' friend.id %}">
               <div>{{ friend.username }}</div>
               <div>
                   <p>{{ friend.latest_msg_content }}</p>
                   <p>{{ friend.latest_msg_pub_date|date:"n/j H:i" }}</p>
               </div>
           </a>
       </li>
       {% endfor %}
 
   </ul>
</div>
 
{% endblock contents %}
